In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
np.set_printoptions(suppress=True)

    Question 4#

In [2]:
#import data
path=r"C:\Users\jiaji\Downloads\healthcare_q4.csv"
healthcare_q4=pd.read_csv(path)

In [3]:
healthcare_q4.head()

,Entity Type Code,Healthcare Provider Taxonomy Code_1,Provider License Number State Code_1
0,2.0,261QM1200X,OH
1,2.0,261QM1200X,GA
2,2.0,261QM1200X,FL
3,2.0,261QM1200X,FL
4,2.0,261QM1200X,OH

In [4]:
#calculate number_of_MRI for each state
number_of_MRI=pd.DataFrame(healthcare_q4[["Provider License Number State Code_1"]].groupby("Provider License Number State Code_1").size())

In [5]:
#rename the coulmn
number_of_MRI=number_of_MRI.rename(columns={0:'number_of_MRI'})

In [6]:
number_of_MRI.reset_index(inplace=True)

In [7]:
number_of_MRI=number_of_MRI.rename(columns={"Provider License Number State Code_1":'State Code'})
number_of_MRI

   State Code  number_of_MRI
0          AK              1
1          AR              4
2          AZ              4
3          CA             31
4          CO              3
5          CT              1
6          DE              4
7          FL            115
8          GA              4
9          GU              1
10         HI              1
11         IA              1
12         ID              1
13         IL             16
14         IN              3
15         KS              2
16         KY              3
17         LA              6
18         MA             15
19         MD             16
20         ME              3
21         MI             15
22         MN             10
23         MO              4
24         MS              1
25         MT              2
26         NC              5
27         NJ             42
28         NV              1
29         NY             16
30         OH             21
31         OK             10
32         OR              2
33         PA              5
34         PR             18
35         RI              2
36         SC              2
37         TN              5
38         TX             40
39         UT              2
40         WA              7
41         WI              2
42         WY              1

In [8]:
#import population table
path=r"C:\Users\jiaji\Downloads\population.csv"
population=pd.read_csv(path)

In [9]:
population

             Id  Id2             Geography     population
0   0400000US01    1               Alabama   4,850,771.00
1   0400000US02    2                Alaska     738,565.00
2   0400000US04    4               Arizona   6,809,946.00
3   0400000US05    5              Arkansas   2,977,944.00
4   0400000US06    6            California  38,982,847.00
5   0400000US08    8              Colorado   5,436,519.00
6   0400000US09    9           Connecticut   3,594,478.00
7   0400000US10   10              Delaware     943,732.00
8   0400000US11   11  District of Columbia     672,391.00
9   0400000US12   12               Florida  20,278,447.00
10  0400000US13   13               Georgia  10,201,635.00
11  0400000US15   15                Hawaii   1,421,658.00
12  0400000US16   16                 Idaho   1,657,375.00
13  0400000US17   17              Illinois  12,854,526.00
14  0400000US18   18               Indiana   6,614,418.00
15  0400000US19   19                  Iowa   3,118,102.00
16  0400000US20   20                Kansas   2,903,820.00
17  0400000US21   21              Kentucky   4,424,376.00
18  0400000US22   22             Louisiana   4,663,461.00
19  0400000US23   23                 Maine   1,330,158.00
20  0400000US24   24              Maryland   5,996,079.00
21  0400000US25   25         Massachusetts   6,789,319.00
22  0400000US26   26              Michigan   9,925,568.00
23  0400000US27   27             Minnesota   5,490,726.00
24  0400000US28   28           Mississippi   2,986,220.00
25  0400000US29   29              Missouri   6,075,300.00
26  0400000US30   30               Montana   1,029,862.00
27  0400000US31   31              Nebraska   1,893,921.00
28  0400000US32   32                Nevada   2,887,725.00
29  0400000US33   33         New Hampshire   1,331,848.00
30  0400000US34   34            New Jersey   8,960,161.00
31  0400000US35   35            New Mexico   2,084,828.00
32  0400000US36   36              New York  19,798,228.00
33  0400000US37   37        North Carolina  10,052,564.00
34  0400000US38   38          North Dakota     745,475.00
35  0400000US39   39                  Ohio  11,609,756.00
36  0400000US40   40              Oklahoma   3,896,251.00
37  0400000US41   41                Oregon   4,025,127.00
38  0400000US42   42          Pennsylvania  12,790,505.00
39  0400000US44   44          Rhode Island   1,056,138.00
40  0400000US45   45        South Carolina   4,893,444.00
41  0400000US46   46          South Dakota     855,444.00
42  0400000US47   47             Tennessee   6,597,381.00
43  0400000US48   48                 Texas  27,419,612.00
44  0400000US49   49                  Utah   2,993,941.00
45  0400000US50   50               Vermont     624,636.00
46  0400000US51   51              Virginia   8,365,952.00
47  0400000US53   53            Washington   7,169,967.00
48  0400000US54   54         West Virginia   1,836,843.00
49  0400000US55   55             Wisconsin   5,763,217.00
50  0400000US56   56               Wyoming     583,200.00
51  0400000US72   72           Puerto Rico   3,468,963.00

In [10]:
#import state_name table
path=r"C:\Users\jiaji\Desktop\state_name.csv"
state=pd.read_csv(path)

In [11]:
#combine state name and state code
state=state.rename(columns={'State Name':'Geography'})

In [12]:
state

   State Code             Geography
0          TX                 Texas
1          NC        North Carolina
2          IN               Indiana
3          MD              Maryland
4          LA             Louisiana
5          UT                  Utah
6          NE              Nebraska
7          MT               Montana
8          VT               Vermont
9          FL               Florida
10         GA               Georgia
11         AZ               Arizona
12         CO              Colorado
13         CT           Connecticut
14         MS           Mississippi
15         HI                Hawaii
16         RI          Rhode Island
17         CA            California
18         OH                  Ohio
19         TN             Tennessee
20         WI             Wisconsin
21         KY              Kentucky
22         IA                  Iowa
23         NM            New Mexico
24         ME                 Maine
25         WY               Wyoming
26         NY              New York
27         NJ            New Jersey
28         MA         Massachusetts
29         AL               Alabama
30         OK              Oklahoma
31         KS                Kansas
32         ID                 Idaho
33         DE              Delaware
34         DC  District of Columbia
35         PA          Pennsylvania
36         VA              Virginia
37         MO              Missouri
38         MN             Minnesota
39         OR                Oregon
40         AR              Arkansas
41         WV         West Virginia
42         SD          South Dakota
43         IL              Illinois
44         MI              Michigan
45         WA            Washington
46         SC        South Carolina
47         PR           Puerto Rico
48         NV                Nevada
49         NH         New Hampshire
50         ND          North Dakota

In [13]:
#merge tables tagether
q4=(population.merge(state,on="Geography")).merge(number_of_MRI,on="State Code")

In [14]:
q4.head()

            Id  Id2    Geography     population State Code  number_of_MRI
0  0400000US04    4      Arizona   6,809,946.00         AZ              4
1  0400000US05    5     Arkansas   2,977,944.00         AR              4
2  0400000US06    6   California  38,982,847.00         CA             31
3  0400000US08    8     Colorado   5,436,519.00         CO              3
4  0400000US09    9  Connecticut   3,594,478.00         CT              1

In [15]:
q4["population"]=q4["population"].str.replace(",","")

In [16]:
q4["population"]=q4["population"].astype("float")

In [17]:
#calculate the number of MRI clinics per 1000,000 population for each state
q4["share"]=q4["number_of_MRI"]/q4["population"]/1000000

In [18]:
q4

,Id,Id2,Geography,population,State Code,number_of_MRI,share
0,0400000US04,4,Arizona,6809946.0,AZ,4,5.873762e-13
1,0400000US05,5,Arkansas,2977944.0,AR,4,1.343209e-12
2,0400000US06,6,California,38982847.0,CA,31,7.952215e-13
3,0400000US08,8,Colorado,5436519.0,CO,3,5.518237e-13
4,0400000US09,9,Connecticut,3594478.0,CT,1,2.782045e-13
5,0400000US10,10,Delaware,943732.0,DE,4,4.238491e-12
6,0400000US12,12,Florida,20278447.0,FL,115,5.671046e-12
7,0400000US13,13,Georgia,10201635.0,GA,4,3.920940e-13
8,0400000US15,15,Hawaii,1421658.0,HI,1,7.034041e-13
9,0400000US16,16,Idaho,1657375.0,ID,1,6.033638e-13
10,0400000US17,17,Illinois,12854526.0,IL,16,1.244698e-12
11,0400000US18,18,Indiana,6614418.0,IN,3,4.535546e-13
12,0400000US19,19,Iowa,3118102.0,IA,1,3.207079e-13
13,0400000US20,20,Kansas,2903820.0,KS,2,6.887479e-13
14,0400000US21,21,Kentucky,4424376.0,KY,3,6.780617e-13
15,0400000US22,22,Louisiana,4663461.0,LA,6,1.286598e-12
16,0400000US23,23,Maine,1330158.0,ME,3,2.255371e-12
17,0400000US24,24,Maryland,5996079.0,MD,16,2.668410e-12
18,0400000US25,25,Massachusetts,6789319.0,MA,15,2.209353e-12
19,0400000US26,26,Michigan,9925568.0,MI,15,1.511249e-12
20,0400000US27,27,Minnesota,5490726.0,MN,10,1.821253e-12
21,0400000US28,28,Mississippi,2986220.0,MS,1,3.348715e-13
22,0400000US29,29,Missouri,6075300.0,MO,4,6.584037e-13
23,0400000US30,30,Montana,1029862.0,MT,2,1.942008e-12
24,0400000US32,32,Nevada,2887725.0,NV,1,3.462934e-13
25,0400000US34,34,New Jersey,8960161.0,NJ,42,4.687416e-12
26,0400000US36,36,New York,19798228.0,NY,16,8.081531e-13
27,0400000US37,37,North Carolina,10052564.0,NC,5,4.973855e-13
28,0400000US39,39,Ohio,11609756.0,OH,21,1.808824e-12
29,0400000US40,40,Oklahoma,3896251.0,OK,10,2.566570e-12
30,0400000US41,41,Oregon,4025127.0,OR,2,4.968787e-13
31,0400000US42,42,Pennsylvania,12790505.0,PA,5,3.909150e-13
32,0400000US44,44,Rhode Island,1056138.0,RI,2,1.893692e-12
33,0400000US45,45,South Carolina,4893444.0,SC,2,4.087101e-13
34,0400000US47,47,Tennessee,6597381.0,TN,5,7.578765e-13
35,0400000US48,48,Texas,27419612.0,TX,40,1.458810e-12
36,0400000US49,49,Utah,2993941.0,UT,2,6.680158e-13
37,0400000US53,53,Washington,7169967.0,WA,7,9.762946e-13
38,0400000US55,55,Wisconsin,5763217.0,WI,2,3.470284e-13
39,0400000US56,56,Wyoming,583200.0,WY,1,1.714678e-12
40,0400000US72,72,Puerto Rico,3468963.0,PR,18,5.188871e-12

In [19]:
q4_f=q4[["State Code","share"]]

In [20]:
q4_f.to_csv("q4.csv")

In [19]:
path=r"C:\Users\jiaji\Desktop\q4.csv"
q4=pd.read_csv(path)

In [20]:
q4

    Unnamed: 0 State Code         share    lat     lon
0            0         AZ  5.870000e-13  33.68 -112.50
1            1         AR  1.340000e-12  33.83  -92.95
2            2         CA  7.950000e-13  36.96 -119.91
3            3         CO  5.520000e-13  38.44 -105.97
4            4         CT  2.780000e-13  41.74  -72.67
5            5         DE  4.240000e-12  39.08  -79.53
6            6         FL  5.670000e-12  21.42  -81.78
7            7         GA  3.920000e-13  33.70  -84.20
8            8         HI  7.030000e-13  21.37 -151.79
9            9         ID  6.030000e-13  45.06 -114.54
10          10         IL  1.240000e-12  41.48  -89.09
11          11         IN  4.540000e-13  40.34  -86.04
12          12         IA  3.210000e-13  42.17  -93.66
13          13         KS  6.890000e-13  38.68  -98.29
14          14         KY  6.780000e-13  37.94  -84.57
15          15         LA  1.290000e-12  31.72  -92.48
16          16         ME  2.260000e-12  45.42  -69.13
17          17         MD  2.670000e-12  39.33  -76.79
18          18         MA  2.210000e-12  42.39  -71.31
19          19         MI  1.510000e-12  44.18  -84.85
20          20         MN  1.820000e-12  45.81  -94.80
21          21         MS  3.350000e-13  32.71  -89.50
22          22         MO  6.580000e-13  38.51  -92.49
23          23         MT  1.940000e-12  47.28 -109.16
24          24         NV  3.460000e-13  39.02 -116.80
25          25         NJ  4.690000e-12  40.29  -74.58
26          26         NY  8.080000e-13  40.70  -73.90
27          27         NC  4.970000e-13  35.67  -78.23
28          28         OH  1.810000e-12  40.42  -82.93
29          29         OK  2.570000e-12  35.55  -97.35
30          30         OR  4.970000e-13  44.19 -120.40
31          31         PA  3.910000e-13  40.99  -77.58
32          32         RI  1.890000e-12  41.71  -71.59
33          33         SC  4.090000e-13  33.67  -80.53
34          34         TN  7.580000e-13  35.91  -86.43
35          35         TX  1.460000e-12  31.04  -99.13
36          36         UT  6.680000e-13  39.62 -111.62
37          37         WA  9.760000e-13  47.46 -119.79
38          38         WI  3.470000e-13  44.42  -89.68
39          39         WY  1.710000e-12  42.87 -107.59
40          40         PR  5.190000e-12  18.24  -66.44

In [21]:
for_vasulization=q4[["lat","lon","share"]]

In [22]:
for_vasulization

      lat     lon         share
0   33.68 -112.50  5.870000e-13
1   33.83  -92.95  1.340000e-12
2   36.96 -119.91  7.950000e-13
3   38.44 -105.97  5.520000e-13
4   41.74  -72.67  2.780000e-13
5   39.08  -79.53  4.240000e-12
6   21.42  -81.78  5.670000e-12
7   33.70  -84.20  3.920000e-13
8   21.37 -151.79  7.030000e-13
9   45.06 -114.54  6.030000e-13
10  41.48  -89.09  1.240000e-12
11  40.34  -86.04  4.540000e-13
12  42.17  -93.66  3.210000e-13
13  38.68  -98.29  6.890000e-13
14  37.94  -84.57  6.780000e-13
15  31.72  -92.48  1.290000e-12
16  45.42  -69.13  2.260000e-12
17  39.33  -76.79  2.670000e-12
18  42.39  -71.31  2.210000e-12
19  44.18  -84.85  1.510000e-12
20  45.81  -94.80  1.820000e-12
21  32.71  -89.50  3.350000e-13
22  38.51  -92.49  6.580000e-13
23  47.28 -109.16  1.940000e-12
24  39.02 -116.80  3.460000e-13
25  40.29  -74.58  4.690000e-12
26  40.70  -73.90  8.080000e-13
27  35.67  -78.23  4.970000e-13
28  40.42  -82.93  1.810000e-12
29  35.55  -97.35  2.570000e-12
30  44.19 -120.40  4.970000e-13
31  40.99  -77.58  3.910000e-13
32  41.71  -71.59  1.890000e-12
33  33.67  -80.53  4.090000e-13
34  35.91  -86.43  7.580000e-13
35  31.04  -99.13  1.460000e-12
36  39.62 -111.62  6.680000e-13
37  47.46 -119.79  9.760000e-13
38  44.42  -89.68  3.470000e-13
39  42.87 -107.59  1.710000e-12
40  18.24  -66.44  5.190000e-12

In [23]:
import numpy as np
import pandas as pd
import seaborn as sns
import folium
import webbrowser
from folium.plugins import HeatMap

In [24]:
map_osm = folium.Map(location=[40,-100],zoom_start=4)

In [29]:
HeatMap(for_vasulization).add_to(map_osm)

In [30]:
#the heatmap for question4
map_osm

In [31]:
map_osm.save('question2map.html')

Question 2#

In [32]:
#import data
path=r"C:\Users\jiaji\Downloads\healthcare_q2.csv"
healthcare_q2=pd.read_csv(path)

In [33]:
healthcare_q2.head()

  Provider License Number State Code_1 Provider Gender Code Is Sole Proprietor
0                                   MO                    M                  N
1                                   MN                    M                  N
2                                   MN                    F                  X
3                                   MN                    M                  X
4                                   MO                    M                  N

In [133]:
#calculate the number for female who is sole proprietor
len(healthcare_q2[(healthcare_q2["Provider Gender Code"]=="F")&(healthcare_q2["Is Sole Proprietor"]=="Y")])

81915

In [134]:
#calculate the number for female who is not sole proprietor
len(healthcare_q2[(healthcare_q2["Provider Gender Code"]=="F")&(healthcare_q2["Is Sole Proprietor"]=="N")])

218305

In [136]:
#calculate the number for male who is not sole proprietor
len(healthcare_q2[(healthcare_q2["Provider Gender Code"]=="M")&(healthcare_q2["Is Sole Proprietor"]=="Y")])

53867

In [137]:
#calculate the number for male who is not sole proprietor
len(healthcare_q2[(healthcare_q2["Provider Gender Code"]=="M")&(healthcare_q2["Is Sole Proprietor"]=="N")])

139936

In [143]:
np.matrix([[81915,218305],[53867,139936]])

matrix([[ 81915, 218305],
        [ 53867, 139936]])

In [168]:
#fisher exact test
import scipy.stats as stats
oddsratio,p_value=stats.fisher_exact([[81915,218305],[53867,139936]])
p_value

8.995742837505393e-05

In [169]:
#p_value is smaller than 0.05,thus it is significant
#the answer for question 2 
p_value<0.05

True

Question 2#

In [150]:
#import data table
path=r"C:\Users\jiaji\Downloads\healthcare_q3.csv"
healthcare_q3=pd.read_csv(path)

In [151]:
healthcare_q3

      Provider Gender Code        class
0                        M  High Reward
1                        M  High Reward
2                        M  High Reward
3                        M   Low Reward
4                        M  High Reward
5                        M  High Reward
6                        M  High Reward
7                        M  High Reward
8                        F  High Reward
9                        F   Low Reward
10                       M  High Reward
11                       F   Low Reward
12                       F   Low Reward
13                       M  High Reward
14                       F   Low Reward
15                       M  High Reward
16                       M   Low Reward
17                       F   Low Reward
18                       F   Low Reward
19                       M   Low Reward
20                       F   Low Reward
21                       F   Low Reward
22                       F   Low Reward
23                       M  High Reward
24                       M   Low Reward
25                       M  High Reward
26                       M   Low Reward
27                       M   Low Reward
28                       F   Low Reward
29                       F   Low Reward
...                    ...          ...
24727                    F   Low Reward
24728                    F   Low Reward
24729                    F   Low Reward
24730                    F   Low Reward
24731                    F   Low Reward
24732                    M  High Reward
24733                    M  High Reward
24734                    F   Low Reward
24735                    M   Low Reward
24736                    F   Low Reward
24737                    M   Low Reward
24738                    M   Low Reward
24739                    M  High Reward
24740                    F   Low Reward
24741                    M  High Reward
24742                    M  High Reward
24743                    M   Low Reward
24744                    M   Low Reward
24745                    M  High Reward
24746                    F   Low Reward
24747                    F  High Reward
24748                    F   Low Reward
24749                    F  High Reward
24750                    F   Low Reward
24751                    F   Low Reward
24752                    F   Low Reward
24753                    F   Low Reward
24754                    F   Low Reward
24755                    M  High Reward
24756                    F  High Reward

[24757 rows x 2 columns]

In [152]:
#calculate the number of female who is belong to high reward
len(healthcare_q3[(healthcare_q3["Provider Gender Code"]=="F")&(healthcare_q3["class"]=="High Reward")])

1557

In [159]:
#calculate the number of female who is belong to low reward
len(healthcare_q3[(healthcare_q3["Provider Gender Code"]=="F")&(healthcare_q3["class"]=="Low Reward")])

9735

In [162]:
#calculate the number of male who is belong to high reward
len(healthcare_q3[(healthcare_q3["Provider Gender Code"]=="M")&(healthcare_q3["class"]=="High Reward")])

7553

In [160]:
#calculate the number of male who is belong to row reward
len(healthcare_q3[(healthcare_q3["Provider Gender Code"]=="M")&(healthcare_q3["class"]=="Low Reward")])

5912

In [172]:
#fisher test
#the result is smaller than 0.5,thus it is significant
oddsratio,p_value=stats.fisher_exact([[1557,9735],[7553,5912]])
p_value

0.0